<%- include('./partials/head') %>

<p>
  I'm a frontend developer student located in Amsterdam. I want to become a
  skilled frontend developer and create elevating human experience by creating
  interactive webpages. I spend my days by reading, TV series, family&friends
  and learning everyday to become better.
</p>

<%- include('./partials/foot') %>
