:root {
  --background-clr: linear-gradient(
    89.54deg,
    #0b1944 10.58%,
    #2498c9 39.03%,
    #d9d9d9 64.72%,
    #fffbf5 91.26%
  );
  --line-height: 1.5;
  --font-weight: 400;
  --font-title-size: 1.25rem;
  --font-paragraph-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-family: "Inter";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card {
  background: var(--background-clr);
  width: 458px;
  height: 300px;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
  border-radius: 360px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 6.6rem;
  height: 6.6rem;
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  color: #fff;
  padding: 0.6rem 0.6rem;
}

.card-content h1 {
  font-size: var(--font-title-size);
}

.card-content p {
  font-size: var(--font-paragraph-size: );
}

svg {
  margin-top: 2rem;
  stroke: #fff;
  padding: 0 0.6rem 0;
  width: 3rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

svg:hover {
  fill: #0b1944;
  transform: scale(1.1);
}
